/* AnimatedText.module.css */

@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.animatedTextContainer {
  margin: 0;
  background: #00061c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animatedText {
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.33);
  border-radius: 20px;
  padding: 14px 24px;
  transform: rotate(-6deg);
  animation: turnOnBorder 0.24s forwards step-end,
    flickerBorder calc(var(--animation-time) * 16) infinite step-end 1s;
}

.animatedText p {
  font-family: Roboto;
  margin: 0;
  color: #fff;
}

.animatedText span {
  font-size: 100px;
}

.animatedText p span {
  opacity: 0.33;
  animation: turnOn forwards step-end;
}

.animatedText p span:nth-child(1) {
  animation-delay: 0.3s;
}

.animatedText p span:nth-child(2) {
  animation-delay: 0.2s;
}

.animatedText p span:nth-child(3) {
  animation-delay: 0.4s;
}

.animatedText p span:nth-child(4) {
  animation: turnOn 0.27s forwards step-end,
    flicker var(--animation-time) infinite step-end 1s;
}

@keyframes turnOnBorder {
  100% {
    border: 3px solid #fff;
    box-shadow: var(--box-shadow);
    opacity: 1;
  }
}

@keyframes turnOn {
  100% {
    text-shadow: var(--text-shadow);
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    text-shadow: var(--text-shadow);
  }

  99% {
    text-shadow: none;
  }
}

@keyframes flickerBorder {
  0% {
    box-shadow: var(--box-shadow);
  }

  99% {
    box-shadow: none;
  }
}