/* Bootstrap Media Query Breakpoints */
:root {
  --breakpoint-xs: 576px;
  /* Extra Small (xs) devices (phones) */
  --breakpoint-sm: 768px;
  /* Small (sm) devices (tablets) */
  --breakpoint-md: 992px;
  /* Medium (md) devices (desktops, large tablets) */
  --breakpoint-lg: 1200px;
  /* Large (lg) devices (desktops) */
  --text-color: #f00;
  --border-color: #3da7f8;
  --animation-time: 1s;
  --text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px var(--text-color),
    0 0 10px var(--text-color), 0 0 10px var(--text-color),
    0 0 10px var(--text-color), 0 0 10px var(--text-color),
    0 0 20px var(--text-color), 0 0 30px var(--text-color),
    0 0 40px var(--text-color), 0 0 55px var(--text-color),
    0 0 75px var(--text-color);
  --box-shadow: inset 0 0 50px var(--border-color), 0 0 10px var(--border-color),
    0 0 20px var(--border-color), 0 0 30px var(--border-color);
}

/* Reset and General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  background-color: #231F20;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  counter-reset: instaList 0;
}

p {
  line-height: 2em;
}

/* Form Elements */
button {
  cursor: pointer;
}

button[type='submit'],
input,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
label,
select,
textarea {
  border-radius: 0.5em;
  font-size: 1rem;
}

button[type='submit'] {
  background-color: #BFBB50;
  border: none;
  color: #000000;
  font-weight: 700;
  padding: 1em 2em;
}

/* Header Styles */
header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  width: 100%;
}

nav a {
  color: #ffffff;
  font-weight: 700;
  justify-content: center;
  min-width: 64px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

nav li {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

nav button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Main Content Styles */
#contact {
  padding-bottom: 4em;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  width: 100%;
}

/* Input Styles */
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
select,
textarea {
  border: none;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

/* Button Styles */

button.text {
  appearance: none;
  border: none;
  background-color: transparent;
}

.button,
.ghost {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0.5em;
  color: #000000;
  display: inline-block;
  font-weight: 700;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
  background-color: #BFBB50;
  border-color: #BFBB50;
  color: #ffffff;
}

.ghost:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Typography Styles */

h1,
h2,
h3,
h3.display {
  color: #BFBB50;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* Layout Styles */
/* Bootstrap Classes for Width */
.col-12 {
  width: 100%;
}

@media (min-width: var(--breakpoint-sm)) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: var(--breakpoint-md)) {
  .col-md-6 {
    width: 50%;
  }
}

@media (min-width: var(--breakpoint-lg)) {
  .col-lg-8 {
    width: 66.66666667%;
  }
}

@media (min-width: var(--breakpoint-xl)) {
  .col-xl-12 {
    width: 100%;
  }
}

.col-12,
.col-6,
.col-8,
.col-md-6 {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.row,
.row-md {
  display: flex;
  flex-direction: row;
}

/* Helper Classes */

.display {
  font-size: 2em;
  margin-bottom: 1em;
}

.d-none {
  display: none;
}

.fadeIn {
  opacity: 1;
}

.full-width {
  width: 100%;
}

.gap-4 {
  gap: 1em;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

/* Unique Styles */
.sticky {
  position: sticky;
  height: 113px;
  top: 0;
}

.logo-black {
  background-image: url(/images/logo-black.svg);
  background-repeat: no-repeat;
}

.dark-bg a,
.dark-bg label,
.dark-bg p {
  color: white;
}

.dark-bg .button,
.light-bg h3 {
  color: #231F20;
}

.dark-bg,
.dark-bg .sticky {
  background-color: #231F20;
}

.light-bg,
.light-bg .sticky {
  background-color: #ffffff;
}

.light-bg {
  padding-bottom: 151px;
}

.booking {
  width: 100%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
  }

  .button,
  .col-6,
  .col-8,
  .col-md-6,
  .insta-list div,
  .items {
    width: 100% !important;
  }

  .insta-list a {
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
    top: 0;
    transform: translate(0, 0);
  }

  .insta-list div {
    width: calc(33.3333% - 3px);
  }

  .insta-list div:last-of-type {
    display: none;
  }

  
}