* {
  box-sizing: border-box;
}

*,
html,
body {
  scroll-behavior: smooth!important;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #231F20;
  scroll-behavior: smooth;
}

html,
body,
textarea {
  font-family: Helvetica Neue, Helvetica, Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

body {
  counter-reset: instaList 0;
}

p {
  line-height: 2em;
}

input,
textarea,
select,
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='password'],
textarea,
button[type='submit'] {
  font-size: 1rem;
  border-radius: 0.5em;
  border: 1px solid #000000;
}

button[type='submit'] {
  background-color: #BFBB50;
  color: #000000;
  padding: 1em 2em;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

label {
  color: #BFBB50;
  padding-right: 1em;
  line-height: 2em;
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  background-color: transparent;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

nav li {
  list-style: none;
  /* width: 10%; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  /* font-size: .75rem; */
  /* letter-spacing: 1px; */
  min-width: 64px;
  text-align: center;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
  /* text-transform: uppercase; */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  /* height: 100vh; */
  width: 100%;
}

#contact {
  padding-bottom: 4em;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='password'],
textarea,
select {
  width: 100%;
  padding: 1em;
  border: none;
  margin-bottom: 1em;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 1em 2em;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 0.5em;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
  border-style: solid;
  border-width: 2px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .button {
    width: 100%;
  }
}

.ghost {
  background-color: transparent;
  border-color: #ffffff;
  color: #000000;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.ghost:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Typography */
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: #BFBB50;
}

h3.display {
  color: #BFBB50;
}

/* Layout */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.row,
.row-md {
  flex-direction: row;
  display: flex;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-md-6 {
  width: 50%;
}

.col-8 {
  width: 80%;
}

@media screen and (max-width: 768px) {

  .col-8,
  .col-6,
  .col-md-6 {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .row-md {
    flex-direction: row;
  }

  .col-6 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }
}

/* Helper */
.full-width {
  width: 100%;
}

.background-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.d-none {
  display: none;
}

.gap-4 {
  gap: 1em;
}

/* Unique */
.item {
  /* background-image: linear-gradient(90deg, #000 10%, hsla(0, 0%, 100%, 0) 0); */
  margin-bottom: 1em;
}

.frame {
  background-image: url(/images/icons/frame.svg);
}

.thumbnail {
  cursor: pointer;
  position: relative;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail span {
  position: absolute;
  right: 0;
  padding: .5em;
  background-color: #ffffff;
}

/* imports */
nav .menu-item {
  cursor: pointer;
  position: relative;
  /* padding: 2em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .menu-item div.nav-service .service-1,
nav .menu-item div.nav-service .service-2 {
  -webkit-transform: rotate(0) scale(.8);
  transform: rotate(0) scale(.8);
}

nav .menu-item div.nav-service .service-1 {
  -webkit-transition: transform .5s cubic-bezier(.5, 0, .15, 1.2);
  transition: transform .5s cubic-bezier(.5, 0, .15, 1.2);
}

nav .menu-item:hover div.nav-service .service-1 {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: transform .6s cubic-bezier(.5, 0, .15, 2);
  transition: transform .6s cubic-bezier(.5, 0, .15, 2);
}

nav .menu-item div.nav-service .service-2 {
  -webkit-transition: transform .8s cubic-bezier(.5, 0, .15, 1.2);
  transition: transform .8s cubic-bezier(.5, 0, .15, 1.2);
}

nav .menu-item:hover div.nav-service .service-2 {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-transition: transform .5s cubic-bezier(.5, 0, .15, 2);
  transition: transform .5s cubic-bezier(.5, 0, .15, 2);
}

nav .menu-item div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  flex-direction: column;
  color: white;
}

.online span {
  color: green;
}

.offline span {
  color: red;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 4px 1em;
  background-color: #231F20;
  border-radius: 5px;
}

.logo a {
  position: relative;
}

.logo img {
  z-index: 9;
}

.logo a:after {
  content: '';
  width: 80%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: block;
  position: absolute;
  inset: 10% 10%;
}

.click img,
.click span,
.click svg,
a img,
a span,
a svg {
  opacity: 1;
  -webkit-transition: all .4s cubic-bezier(.55, .02, .1, .9);
  transition: all .4s cubic-bezier(.55, .02, .1, .9);
  position: relative;
}

a,
a span {
  color: #BFBB50;
}

.square {
  width: 42px;
  height: 42px;
  position: relative;
}

.items {
  column-count: 2;
  width: 66%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .items {
    column-count: 1;
    width: 100%;
  }
}

.full-width {
  width: 100%;
}

.sticky {
  position: sticky;
  height: 150px;
  top: 0;
}

.dark-bg {
  background-color: #231F20;
}

.light-bg {
  background-color: #ffffff;
}

.offline a:after {
  background-color: #231F20;
}

.online a:after {
  background-color: #BFBB50;
}

.logo-black {
  background-image: url(/images/black-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#booking {
  width: 700px;
  height: 1200px;
}

@media screen and (max-width: 768px) {
  #booking {
    margin-right: 0 !important;
    margin-left: -1em !important;
    width: calc(100vw) !important;
  }

  #about .row {
    flex-direction: column-reverse;
  }
}

.insta-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  /* position: relative; */
  overflow: hidden;
  margin: 0 auto;
  gap: 3px;
}

.insta-list div {
  width: calc(20% - 3px);
  /* margin: .5%; */
  /* opacity: .4; */
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  /* position: relative; */
}

.insta-list div::before {
  counter-increment: instaList;
  content: counter(instaList);
  color: black;
  background-color: white;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  /* position: relative; */
}

@media screen and (max-width: 768px) {
  .insta-list div {
    width: calc(33.3333% - 3px);
  }

  .insta-list div:last-of-type {
    display: none;
  }
}

.insta-list a {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .insta-list a {
    margin-top: 1em;
    margin-bottom: 1em;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    position: relative;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1em;
}

form [type="submit"] {
  flex: 0;
}

.d-block {
  display: block;
}